#portfolio {
	display: inline-block;
	background-color: yellow;
}

.col-1 {
	display: inline-block;
	background-color: red;
	height: 800px;
	width: 320px;
}

.col-1-1 {
	/*position: absolute;*/
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: white;
}

.col-2 {
	display: inline-block;
	background-color: green; 
	height: 800px;
	width: 320px;
}

.col-2-1 {
	position: relative;
	background-color: purple;
	height: 100px;
	width: 100px;
}

.col-3 {
	display: inline-block;
	background-color: blue;
	height: 800px;
	width: 320px;
}

.col-3-1 {
	/*display: inline-block;*/
	/*line above .col-2 will shift up if enabled*/
	background-color: orange;
	height: 100px;
	width: 100px;
}

